<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <!-- <ion-menu-button></ion-menu-button>  -->
      </ion-buttons>
    <ion-title></ion-title>
    <!-- <ion-title color="medium">Customer Registration</ion-title> -->
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">

        <ion-card-header>
            <ion-card-title>
            Enter the recieved otp!
            </ion-card-title>
            <!-- <ion-card-subtitle>
               Verify your email and phone
              </ion-card-subtitle> -->
        </ion-card-header>
             <form [formGroup]="otpform" (ngSubmit)="submit()">
       <ion-card-content>
           
           <ion-item>
            <ion-input type="number" formControlName="otp" placeholder="Enter OTP">
                 <ion-icon name="call-outline" ></ion-icon>
               </ion-input>
           </ion-item>
     

           <div class="sign-btn-wrap">
              <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn">Verify</ion-button>
             </div>


       </ion-card-content>
        </form>
    </ion-card>

</ion-content>
