<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <!-- <ion-menu-button></ion-menu-button>  -->
      </ion-buttons>
    <ion-title></ion-title>
    <!-- <ion-title color="medium">Customer Registration</ion-title> -->
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">

        <ion-card-header>
            <ion-card-title>
              Forgot your Password?
            </ion-card-title>
            <ion-card-subtitle>
               Verify your email and phone
              </ion-card-subtitle>
        </ion-card-header>
             <form [formGroup]="forgotform" (ngSubmit)="submit()">
       <ion-card-content>
          
              <ion-item>
                <ion-input type="email" formControlName="customeremail" placeholder="Email">
                     <ion-icon name="mail-outline" ></ion-icon>
                   </ion-input>
               </ion-item>

           <ion-item>
            <ion-input type="number" formControlName="customernumber" placeholder="Phone No.">
                 <ion-icon name="call-outline" ></ion-icon>
               </ion-input>
           </ion-item>
        

           <div class="sign-btn-wrap">
              <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn">Verify</ion-button>
             </div>

           

       </ion-card-content>
        </form>
    </ion-card>

</ion-content>