.card{
    background-color: rgb(253, 253, 253);
}

.cardhead{
    background-color:  rgb(235, 235, 235);
}

.contents{
    --background: #f2f2f2;
    --color: var(--ion-text-color, #fdfdfd);
}

// host {
//     --background: #f2f2f2;
//     --color: var(--ion-text-color, #fdfdfd);
// }