<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-menu-button></ion-menu-button> 

      <ion-label style="font-weight: 650;font-size: 3em;">
        Rejected List
        <!-- <p style="font-weight: 400;color: #433465 ;">{{today | date:'fullDate'}}</p> -->
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="danger">

  <ion-card *ngFor="let c of request;" class="ion-margin">
    <ion-card-header>
      
      <ion-card-subtitle><ion-icon name="build-outline"></ion-icon>
        {{c.servicename}}<br><br>
        <ion-label><ion-icon name="calendar-outline"></ion-icon>
         </ion-label> {{c.requesteddate}}

      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>Description :-
      <ion-label>{{c.description}}</ion-label>
    </ion-card-content>

  </ion-card>
</ion-content>